<div class="homepage-container">
    <div id="tridiv">
        <div class="scene" style="-webkit-transform:rotateX(-45deg) rotateY(-45deg); -moz-transform:rotateX(-45deg) rotateY(-45deg); -ms-transform:rotateX(-45deg) rotateY(-45deg); transform:rotateX(-45deg) rotateY(-45deg); ">
          <div class="shape cylinder-1 cyl-1">
            <div class="face bm"></div>
            <div class="face tp"></div>
            <div class="face side s0"></div>
            <div class="face side s1"></div>
            <div class="face side s2"></div>
            <div class="face side s3"></div>
            <div class="face side s4"></div>
            <div class="face side s5"></div>
            <div class="face side s6"></div>
            <div class="face side s7"></div>
            <div class="face side s8"></div>
            <div class="face side s9"></div>
            <div class="face side s10"></div>
            <div class="face side s11"></div>
            <div class="face side s12"></div>
            <div class="face side s13"></div>
            <div class="face side s14"></div>
            <div class="face side s15"></div>
            <div class="face side s16"></div>
            <div class="face side s17"></div>
          </div>
        </div>
      </div>
    <p id="welcome">Welcome</p>
    <div class="home-head-image">
        <div class="header-text">
            <h3>Andrew Parker</h3>
            <p>Software Engineer</p>
        </div>
    </div>
    <p id="homepage-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eveniet quasi obcaecati similique nisi, non natus ipsum, nam maxime provident aliquid? Autem vero nisi dolore totam tempora est asperiores qui!</p>
</div>


