.homepage-container{
    height: 100vh;
    width: calc(100vw - var(--navbar-width));

    display: grid;
    grid-template-areas: 
    'welcome thumbnail'
    'body thumbnail';

    padding: 1em;
    padding-left: 3em;

    box-sizing: border-box;
    margin-left: var(--navbar-width);
}

#welcome{
    font-family: 'Pacifico', cursive;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:end;

    text-align: start;

    font-size: var(--welcome-font);

    grid-area: welcome;
}

.header-image{
    align-self: center;
    align-items: center;
    position: relative;
    width: var(--coin-width);
    height: var(--coin-height);

    padding-bottom: 1em;
}

#thumbnail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-area: thumbnail;
}


.header-text{
    margin: 0;
    padding: 0;
}

.header-text > h2, p{
    margin: 0;
    padding: 0;
    text-align: center;
}

#homepage-body{
    font-size: 24px;
    max-width: 800px;

    align-self: top;

    text-align: left;
    padding: 1em;
    margin: 0;

    grid-area: body;
}


#flip{
  width: var(--coin-width);
  height: var(--coin-height);
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 5s;
  transform: rotateY(0deg);
}

.header-image:hover > #flip{
  transform: rotateY(180deg);
}

.back{
  background-image: var(--back-img);
  background-size: cover;
  border-radius: 50%;

  transform: rotateY(180deg);
  width: var(--coin-width);
  height: var(--coin-height);
}

.middle{
  background-image: var(--middle-img);
  background-size: cover;
  width: var(--coin-width);
  height: var(--coin-height);
  border-radius: 50%;

  transform: translateZ(1px);
  position: absolute;
  top: 0;
}

.front{
    height: var(--coin-height);
    width: var(--coin-width);
    border-radius: 50%;
    background-image: var(--front-img);
    background-size: cover;

    position: absolute;
    top: 0;
    transform: translateZ(10px);
}

.middle:nth-child(1){
  transform: translateZ(1px);
}

.middle:nth-child(2){
  transform: translateZ(2px);
}

.middle:nth-child(3){
  transform: translateZ(3px);
}

.middle:nth-child(4){
  transform: translateZ(4px);
}

.middle:nth-child(5){
  transform: translateZ(5px);
}

.middle:nth-child(6){
  transform: translateZ(6px);
}

.middle:nth-child(7){
  transform: translateZ(7px);
}

.middle:nth-child(8){
  transform: translateZ(8px);
}

.middle:nth-child(9){
  transform: translateZ(9px);
}

@media(max-width: 1200px){
  .homepage-container{
    --coin-width: 250px;
    --coin-height: 250px;

    --welcome-font: 64px;

    padding: 1em;
    display: grid;
    grid-template-areas: 
      'welcome'
      'thumbnail'
      'body';

  }

  #homepage-body{
    align-self: center;
    text-align: center;
  }

  #welcome{
    text-align: center;
    justify-content: center;
  }
  
}

@media(min-width: 1200px){
  .homepage-container{
    --coin-width: 450px;
    --coin-height: 450px;

    --welcome-font: 128px;
  } 

}