<div class="homepage-container">
    <p id="welcome">Welcome</p>
    <div class="home-head-image">
        <div class="header-image"></div>
        <div class="header-text">
            <h3>Andrew Parker</h3>
            <p>Software Engineer</p>
        </div>
    </div>
    <p id="homepage-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eveniet quasi obcaecati similique nisi, non natus ipsum, nam maxime provident aliquid? Autem vero nisi dolore totam tempora est asperiores qui!</p>
</div>


