<div class="homepage-container">
    <p id="welcome">Welcome</p>
    <div id="thumbnail">
        <div class="header-image">
            <div id="flip">
                <article class="back"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="middle"></article>
                <article class="front"></article>
            </div>
        </div>
        <div class="home-head-image">
            <div class="header-text">
                <h2>Andrew Parker</h2>
                <p>Software Engineer</p>
            </div>
        </div>
    </div>
    <p id="homepage-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus natus ipsa aperiam ad esse inventore excepturi laboriosam quas aspernatur? Dolorem eum id expedita porro deleniti vel ex ratione velit accusamus.</p>
</div>


