.outer-body{
    display: flex;
    flex-direction: row;
}

.navbar-container{
    position: fixed;
    height: 100vh;
    width: var(--navbar-width);
    background-color: black;
    opacity: 0.8;
}

.navbar-background{
    opacity: 0.5;
}

.body-container{
    padding: 1em;
}